.login-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.login-container input {
  width: 50%;
}
